<div class="pageContent">
	<form method="post" action="__URL__/insert/navTabId/Billindex/callbackType/closeCurrent" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent" layoutH="56">
		<fieldset>
			<legend>非政府采购类报销</legend>
			<foreach name="categorylist" item="vo">
				<a href="__ACTION__/categoryid/<{$vo.id}>" target="dialog" rel="Billadd"><span><b>[<{$vo.name}>]</b></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</foreach>
			<br><br><br>
				<a href="__ACTION__/categoryid/conference" target="dialog" rel="Billadd"><span><b>[会议费]</b></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="__ACTION__/categoryid/train" target="dialog" rel="Billadd"><span><b>[培训费]</b></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="__ACTION__/categoryid/special" target="dialog" rel="Billadd"><span><b>[专项]</b></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!-- 				<a href="__ACTION__/categoryid/contract" target="dialog" rel="Billadd"><span><b>[政府预算]</b></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
		</fieldset><br><br><br><br>
		<fieldset>
			<legend>政府采购类报销</legend>
				<a href="__ACTION__/categoryid/contract/isother/0" target="dialog" rel="Billadd"><span><b>[专项]</b></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="__ACTION__/categoryid/contract/isother/1" target="dialog" rel="Billadd"><span><b>[其它]</b></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!-- 				<a href="__ACTION__/categoryid/contract" target="dialog" rel="Billadd"><span><b>[政府预算]</b></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
		</fieldset>
		</div>
		<div class="formBar">
			<ul>
			</ul>
		</div>
	</form>
</div>
