<div class="pageContent">
	<form method="post" action="__URL__/insert/navTabId/Catbudgetindex/callbackType/closeCurrent" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent" layoutH="56">
				<dl>
					<dt>部门</dt>
					<dd>预算金额</dd>
				</dl>
			<foreach name="sectionlist" item="vo">
				<input type="hidden" name="termid[<{$key}>]" value="<{:session(C('TERM_ID'))}>">
				<input type="hidden" name="unitid[<{$key}>]" value="<{:session(C('ADMIN_AUTH_UNITID'))}>">
				<input type="hidden" name="sectionid[<{$key}>]" value="<{$vo.id}>">
				<input type="hidden" name="staffid[<{$key}>]" value="<{:session(C('ADMIN_AUTH_ID'))}>">
				<input type="hidden" name="categoryid[<{$key}>]" value="<{$Think.get.categoryid}>">
				<dl>
					<dt><{$vo.name}></dt>
					<dd><input autocomplete="off" name="money[<{$key}>]" class="number" style="width:50%" type="text" /></dd>
				</dl>
			</foreach>
			<dl>
				<dt>提示：</dt>
				<dd>此处仅显示无该项预算的部门，已经有该项预算的部门请使用预算调整功能</dd>
			</dl>
		</div>
		<div class="formBar">
			<ul>
				<!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
