<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
<div>
<div>
  <h3>部门包干费使用情况</h3>
  <table border="1" cellspacing="0px">
    <tr>
      <th>部门</th>
      <foreach name="p_catgroy" item="vo_cat">
        <th><{$vo_cat.name}>包干额</th>
        <th><{$vo_cat.name}>支出数</th>
        <th><{$vo_cat.name}>结余数</th>
      </foreach>
      
    </tr>
    <foreach name="p_cate_list" item="vo">
      <tr>
        <td><{$vo.sectionname}></td>
          <foreach name="vo" item="vo_c">
            <if condition="is_array($vo_c)">
                <td><{$vo_c.init_money}></td>
                <td><{$vo_c.cost}></td>
                <td><{$vo_c.money}></td>
            </if>
          </foreach>
      </tr>
    </foreach>
  </table>
  <foreach name="c_cate_list" item="vo_cat">
    <br /><br /><br />
    <h3><{$vo_cat.name}>使用情况</h3>
    <table border="1" cellspacing="0px">
      <tr>
        <th>项目名称</th>
        <th>上级项目</th>
        <th>包干总额</th>
        <th>支出数</th>
        <th>结余数</th>
        <th>管理部门</th>
      </tr>
      <foreach name="vo_cat" item="vo">
        <if condition="is_array($vo)">
          <tr>
            <td><{$vo.categoryname}></td>
            <if condition="!isset($vo['sectionid'])">
              <td>&nbsp</td>
            <else />
              <td><{$vo_cat.name}></td>
            </if>
            <td><{$vo.init_money}></td>
            <td><{$vo.cost}></td>
            <td><{$vo.money}></td>
            <td><{$vo.sectionname}></td>
          </tr>
        </if>
      </foreach>
    </table>
  </foreach>
  <!-- <h3><{$c_spe_list.name}>使用情况</h3>
    <table border="1" cellspacing="0px">
      <tr>
        <th>项目名称</th>
        <th>包干总额</th>
        <th>支出数</th>
        <th>结余数</th>
        <th>管理部门</th>
      </tr>
      <foreach name="c_spe_list['budget']" item="vo">
        <if condition="is_array($vo)">
          <tr>
            <td><{$vo.specialname}></td>
            <td><{$vo.firstallmoney}></td>
            <td><{$vo.cost}></td>
            <td><{$vo.money}></td>
            <td><{$vo.sectionname}></td>
          </tr>
        </if>
      </foreach>
    </table> -->
</div>
</div>
</body>
</html>
