<script>
function zshigetadd(){
    var input2=Number($('#zshi'+2).val());
    var input3=Number($('#zshi'+3).val());
    var input5=Number($('#zshi'+5).val());
    var input6=Number($('#zshi'+6).val());
    var input8=Number($('#zshi'+8).val());
    var input9=Number($('#zshi'+9).val());
    $('#zshi'+1).html((input2+input3).toFixed(2));
    $('#zshi'+4).html((input5+input6).toFixed(2));
    $('#zshi'+7).html((input8+input9).toFixed(2));
    $('#zshi'+11).html((input2+input5-input8).toFixed(2));
    $('#zshi'+12).html((input3+input6-input9).toFixed(2));
    $('#zshi'+10).html((input3+input2+input5+input6-input8-input9).toFixed(2));
}
</script>
<style type="text/css">
    .tableinput{width:92%;height:100%;border-width: 0px;background-color:#F3F3FA; }
    .changcolor{background-color:#E6E6F2;}
</style>
<div class="pageContent" layoutH="0" >
    <form method="post" autocomplete="off" action="__URL__/useaddinsert/callbackType/closeCurrent" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
    <h4 style="margin-left:300px;margin-bottom:0px;font-size:1.7em;letter-spacing:10px">事业单位收入支出情况表（单位：万元）</h4>
    <div style="width:1200px;margin-left:10px">
       <div>
            <div style="float:left">
                <p>填报年份:</p>
            </div>
            <div style="float:left">
                <input style="width:50px" class="required digits input1" minlength="4" maxlength="4" type="text" name="year" value=<{:date("Y")}>>
            </div>
        </div>
        <div>
            <div style="float:left;margin-left:20px;">
                <p>填报月份:</p>
            </div>
            <div style="float:left">
                <select name="month" class="required">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
        </div>
        <div style="margin-left:30px;float:left">
            <div style="float:left">
                <p>填报单位</p>
            </div>
            <div style="float:left">
                <select name="sectionname">
                    <option value="服务中心">服务中心</option>
                    <option value="数据分中心">数据分中心</option>
                </select>
            </div>
        </div>
    </div>
    <table width="1100" border="1" style="border-collapse:collapse;margin-left:10px;clear:both">
        <tr>
            <td height="20" colspan="3" align="center" valign="middle">上年结余</td>
            <td height="20" colspan="3" align="center" valign="middle">收入</td>
            <td height="20" colspan="3" align="center" valign="middle">支出</td>
            <td height="20" colspan="3" align="center" valign="middle">收支结余</td>
        </tr>
        <tr>
          <td width="70" align="center" valign="middle">合计</td>
            <td width="70" align="center" valign="middle">事业基金</td>
            <td width="70" height="20" align="center" valign="middle">专用基金</td>
            <td width="70" height="20" align="center" valign="middle">合计</td>
            <td width="70" height="20" align="center" valign="middle">事业收入</td>
            <td width="70" height="20" align="center" valign="middle">经营收入</td>
            <td width="70" height="20" align="center" valign="middle">合计</td>
            <td width="70" align="center" valign="middle">事业支出</td>
            <td width="70" align="center" valign="middle">经营支出</td>
            <td width="70" align="center" valign="middle">合计</td>
            <td width="70" align="center" valign="middle">事业结余</td>
            <td width="70" align="center" valign="middle">经营结余</td>
        </tr>
        <tr class="changcolor">
            <td height="28" id="zshi1">
                &nbsp
            </td>
            <td>
                <input type="text" name="aa[lastshiye]" class="number tableinput" id="zshi2" onkeyup="zshigetadd()">
            </td>
            <td>
                <input type="text" name="aa[lastzhuanyong]" class="number tableinput" id="zshi3" onkeyup="zshigetadd()">
            </td>
            <td id="zshi4">
               &nbsp
            </td>
            <td>
                <input type="text" name="aa[inshiye]" class="number tableinput" id="zshi5" onkeyup="zshigetadd()">
            </td >
            <td>
                <input type="text" name="aa[injingying]" class="number tableinput" id="zshi6" onkeyup="zshigetadd()">
            </td>
            <td id="zshi7">
                &nbsp
            </td>
            <td>
                <input type="text" name="aa[outshiye]" class="number tableinput" id="zshi8" onkeyup="zshigetadd()">
            </td>
            <td>
                <input type="text" name="aa[outjingying]" class="number tableinput" id="zshi9" onkeyup="zshigetadd()">
            </td>
            <td id="zshi10">
                &nbsp
            </td>
            <td id="zshi11">
                &nbsp
            </td>
            <td id="zshi12">
                &nbsp
            </td>
        </tr>
    </table>
    <div class="formBar">
<ul style="float:left;margin-left:970px;">
            <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
            <li><div class="button"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div></li>
        </ul>
    </div>
    </form>
</div>

