<div class="pageContent">
	<form method="post" action="__URL__/updaterule/callbackType/closeCurrent" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent" layoutH="56">
			<input type="hidden" name="id" value="<{$data.id}>">
			<table class="table" width="100%">
				<thead>
					<tr>
						<th width="22"><input type="checkbox" group="rules[]" class="checkboxCtrl"></th>
						<th width="120" >名称</th>
						<th >规则</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="rulelist" item="vo">
						<tr target="item_id" rel="<{$vo.id}>">
							<td><input name="rules[]" value="<{$vo.id}>" type="checkbox" <in name="vo.id" value="$data.rules">checked="checked"</in>></td>
							<td><{$vo.title}></td>
							<td><{$vo.name}></td>
						</tr>
					</foreach>
				</tbody>
			</table>
		</div>
		<div class="formBar">
			<ul>
				<!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
