
<style type="text/css">
    .tableinput{width:92%;height:100%;border-width: 0px;background-color:#F3F3FA; }
    .changcolor{background-color:#E6E6F2;}
</style>
<div class="pageContent" layoutH="0" >
    <form method="post" autocomplete="off" action="__URL__/usesave/callbackType/closeCurrent" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
    <h4 style="margin-left:300px;margin-bottom:0px;font-size:1.7em;letter-spacing:10px">经济实体收入支出修改表（单位：万元）</h4>
    <div style="width:1200px;margin-left:10px">
       <input type="hidden" name="id" value="<{$data.id}>">
        <div>
            <div style="float:left">
                <p>填报年份:</p>
            </div>
            <div style="float:left">
                <b><{$data.year}></b>
            </div>
        </div>
        <div>
            <div style="float:left;margin-left:20px;">
                <p>填报月份:</p>
            </div>
            <div style="float:left">
                <b><{$data.month}></b>
            </div>
        </div>
        <div style="margin-left:30px;float:left">
            <div style="float:left">
                <p>填报单位：</p>
            </div>
            <div style="float:left">
                <b><{$data.sectionname}></b>
            </div>
        </div>
    </div>
    <table width="1100" border="1" style="border-collapse:collapse;margin-left:10px;clear:both">
        <tr>
          <td height="20" colspan="4" align="center" valign="middle">上年所有者权益</td>
          <td height="20" colspan="2" align="center" valign="middle">收入</td>
            <td height="20" colspan="2" align="center" valign="middle">支出</td>
        </tr>
        <tr>
          <td width="70" align="center" valign="middle">实收资本</td>
          <td width="70" align="center" valign="middle">资本公积</td>
            <td width="70" align="center" valign="middle">盈余公积</td>
            <td width="70" height="20" align="center" valign="middle">未分配利润</td>
            <td width="70" height="20" align="center" valign="middle">主营业务收入</td>
            <td width="70" height="20" align="center" valign="middle">其它业务收入</td>
            <td width="70" align="center" valign="middle">主营业务支出</td>
            <td width="70" align="center" valign="middle">其它业务支出</td>
        </tr>
        <tr class="changcolor">
            <td  height="28">
                <input type="text" name="aa[lastshishou]" class="number tableinput" value="<{$data.lastshishou}>">
            </td>
            <td>
                <input type="text" name="aa[lastgongji]" class="number tableinput" value="<{$data.lastgongji}>">
            </td>
            <td>
                <input type="text" name="aa[lastyingyu]" class="number tableinput" value="<{$data.lastyingyu}>">
            </td>
            <td>
                <input type="text" name="aa[lastwei]" class="number tableinput" value="<{$data.lastwei}>">
            </td>
            <td>
                <input type="text" name="aa[inzhuying]" class="number tableinput" value="<{$data.inzhuying}>">
            </td >
            <td>
                <input type="text" name="aa[inother]" class="number tableinput" value="<{$data.inother}>">
            </td>
            <td>
                <input type="text" name="aa[outzhuying]" class="number tableinput" value="<{$data.outzhuying}>">
            </td>
            <td>
                <input type="text" name="aa[outother]" class="number tableinput" value="<{$data.outother}>">
            </td>
        </tr>
    </table>
    <div class="formBar">
<ul style="float:left;margin-left:970px;">
            <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
            <li><div class="button"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div></li>
        </ul>
    </div>
    </form>
</div>

