<div class="pageContent">
	<form method="post" action="<{:U('Wagesjsj/editinsert',array('navTabId'=>'Wagesjsjindex','callbackType'=>'closeCurrent'))}>" class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<input type="hidden" name="id" value="<{$data.id}>"/>
		<div class="pageFormContent" layoutH="60">
			<dl style="width: 420px;">
				<dt style="width: 140px;">序号：</dt>
				<dd><input type="text" class="required digits"  style="width:100%" name="num" value="<{$data.num}>" />
				</dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">部门：</dt>
				<dd><input type="text" class="required"  style="width:100%" name="section" value="<{$data.section}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">姓名：</dt>
				<dd><input type="text" class="required"  style="width:100%" name="name" value="<{$data.name}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">卡号：</dt>
				<dd><input type="text" class="required digits"  style="width:100%" name="card" value="<{$data.card}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">职务工资：</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="job_wages" value="<{$data.job_wages}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">级别工资：</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="level_wages" value="<{$data.level_wages}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">实习工资：</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="internship_wages" value="<{$data.internship_wages}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">工作性补贴：</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="job_subsidies" value="<{$data.job_subsidies}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">生活性补贴：</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="haiguan_subsidies" value="<{$data.life_subsidies}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">移动通信补贴：</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="phone_subsidies" value="<{$data.phone_subsidies}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">公务电话费：</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="officialphone" value="<{$data.officialphone}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">警衔补贴：</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="bit_subsidies" value="<{$data.bit_subsidies}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">独生子女费：</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="onechild" value="<{$data.onechild}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">应发合计：</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="giveadd" value="<{$data.giveadd}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">应扣医疗保险：</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="de_medicalinsurance" value="<{$data.de_medicalinsurance}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">应扣公积金：</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="de_gongjijing" value="<{$data.de_gongjijing}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">扣税基数：</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="de_base" value="<{$data.de_base}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">应扣所得税：</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="individualtax" value="<{$data.individualtax}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">房租：</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="rent" value="<{$data.rent}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">扣发工作性津贴：</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="de_jobsubsidies" value="<{$data.de_jobsubsidies}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">应扣合计：</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="deduct_add" value="<{$data.deduct_add}>" /></dd>
			</dl>
			<dl style="width: 420px;">
				<dt style="width: 140px;">实发工资：</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="wages" value="<{$data.wages}>" /></dd>
			</dl>


		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>



