<div class="pageContent">
	<form method="post" action="__URL__/insert/navTabId/Applybudindex" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		<div class="pageFormContent" layoutH="56">
			<fieldset>
				<legend>请选择更改的类型</legend>
				<a href="__MODULE__/Zhixingadmin/budgetggoverlook" target="navtab" rel="Zhixingadminbudgetggoverlook"><span><b>[行政]</b></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--
				<a href="__MODULE__/Zhixingshiye/budgetadd" target="navtab" rel="Zhixingshiyebudgetadd"><span><b>[事业]</b></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<a href="__MODULE__/Zhixingqiye/budgetadd" target="navtab" rel="Zhixingqiyebudgetadd"><span><b>[企业]</b></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<a href="__MODULE__/Zhixingshetuan/budgetadd" target="navtab" rel="Zhixingshetuanbudgetadd"><span><b>[社团]</b></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
			</fieldset>

		</div>
		<div class="formBar">
			<ul>
				<!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
<!-- 				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li> -->
			</ul>
		</div>
	</form>
</div>
