<div class="pageContent">
	<form method="post" action="__URL__/insert/navTabId/Applybudindex" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		<div class="pageFormContent" layoutH="56">
			<fieldset>
				<legend>请选择更改类型</legend>
				<a href="__MODULE__/Zhixingwuxiang/budgetggoverlook" target="navtab" rel="Zhixingwuxiangbudgetggoverlook"><span><b>[控制修改]</b></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<a href="__MODULE__/Zhixingwuxiang/useggoverlook" target="navtab" rel="Zhixingwuxianguseggoverlook"><span><b>[支出修改]</b></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</fieldset>

		</div>
		<div class="formBar">
			<ul>
				<!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
<!-- 				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li> -->
			</ul>
		</div>
	</form>
</div>
